////
/// Global base settings.
///
/// @group  Settings
/// @author David Jensen <david@dkjensen.com>
/// @link   https://dkjensen.com/themes/genesis-starter-theme
////

// Borders
$base--border--radius: 3px;
$base--border--width: 1px;
$base--border--style: solid;
$base--border--color: $color--border;
$base--border: $base--border--width $base--border--style $base--border--color;

// Shadows
$base--box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);

// Transition
$base--transition-property: all;
$base--transition-duration: 0.4s;
$base--transition-timing-function: linear;
$base--transition-delay: 0;
$base--transition: $base--transition-property $base--transition-duration $base--transition-timing-function $base--transition-delay;
