////
/// Archive description component.
///
/// @group  Components
/// @author David Jensen <david@dkjensen.com>
/// @link   https://github.com/dkjensen/jesus-film-project
////

.archive {

	// Archive description box.
	&-description {
		width: 100%;
		margin-top: $spacing--xl;
		text-align: center;
	}

	// Archive description title.
	&-title {}
}
