////
/// Author box component.
///
/// @group  Components
/// @author David Jensen <david@dkjensen.com>
/// @link   https://github.com/dkjensen/jesus-film-project
////

.author-box {

	// Author box title.
	&-title {
		margin-bottom: $spacing--xs;
	}

	// Author box content.
	&-content {
		padding-left: $spacing--xl + $spacing--m;

		p {

			&:last-of-type {
				margin-bottom: 0;
			}
		}
	}
}
