////
/// Gutenberg block component.
///
/// @group  Components
/// @author David Jensen <david@dkjensen.com>
/// @link   https://github.com/JesusFilm/jesus-film-www
////

.wp-block {

	// Audio block.
	&-audio {
	}

	// Button block.
	&-button {

		&__link {

			@include button;

			.is-style-rounded & {
				border-radius: 10rem;
			}

			.is-style-outline & {
				border: 2px $base--border--style;
				background: transparent;

				@include hover-focus {
					border-color: $color--primary;
					color: $color--white;
					background-color: $color--primary;
					box-shadow: none;
				}

				&.has-white-color {

					@include hover-focus {
						border-color: $color--white;
						color: $color--black !important;
						background-color: $color--white;
					}
				}
			}

			.has-arrow & {

				&:after {
					margin-left: 1.6rem;

					@include icon("\f30b", 700);
				}
			}
		}
	}

	// Callout block.
	&-callout {

		@include card();
	}

	// Card block.
	&-jf-card {

		@include card();

		&-media {

			img {
				width: 100%;
			}
		}
	}

	// Categories block.
	&-categories {

		&-list {
		}

		&-dropdown {
		}
	}

	// Code block.
	&-code {
	}

	// Columns block.
	&-columns {
		margin-bottom: $gutter;

		@include mq($until: m) {
			flex-wrap: wrap;
		}

		@include mq($until: s) {

			&:not(.is-not-stacked-on-mobile):not(.reverse-columns-mobile) > .wp-block-column:not(:last-child) {
				margin-bottom: $gutter;
			}

			&.reverse-columns-mobile:not(.is-not-stacked-on-mobile) > .wp-block-column:not(:first-child) {
				margin-bottom: $gutter;
			}
		}

		&.reverse-columns-mobile:not(.is-not-stacked-on-mobile) {

			@include mq($until: s) {
				flex-direction: column-reverse;
			}
		}
	}

	&-column {
		display: flex;
		flex-direction: column;

		@include mq($until: m, $from: s) {

			&:not(:only-child):not(:last-child) {
				margin-bottom: $gutter;
			}

			&:nth-child(2n) {
				margin-left: $gutter;
			}
		}

		@include mq($until: m) {
			flex: none;
			width: 100%;

			&:empty {
				display: none;
			}
		}

		@include mq(m) {
			margin-left: $gutter;

			&:not(:first-child) {
				margin-left: $gutter;
			}

			&:first-of-type {
				margin-left: 0;
			}
		}
	}

	// Cover block.
	&-cover {
		padding: 5rem 0;

		h1 {
			margin-bottom: 0.25em;
		}

		&.is-style-narrow .wp-block-cover__inner-container {
			max-width: $mq-m;
		}
	}

	// Cover image block.
	&-cover-image {

		&.has-parallax {
		}

		&.has-background-dim {
		}

		&-text {
		}

		&.has-left-content {
		}

		&.has-right-content {
		}

		&.has-left-content &-text {
		}

		&.has-right-content &-text {
		}
	}

	// Embed block.
	&-embed {

		@include margin($spacing--m null);
	}

	// File block.
	&-file {

		&__button {
		}
	}

	// Gallery block.
	&-gallery {

		@include margin($spacing--m null);

		&.is-cropped {
		}

		&.columns-1 {
		}

		&.columns-2 {
		}

		&.columns-3 {
		}

		.blocks-gallery-item {
		}

		&.is-cropped .blocks-gallery-item {
		}

		.blocks-gallery-item {

			img {
				align-self: center;
			}
		}

		&.columns-1 .blocks-gallery-item {
		}
	}

	// Genesis blocks.
	&-genesis-blocks {

		// Accordion block.
		&-gb-accordion {

			details {
				appearance: none;
				background-color: $color--gray-100;

				.gb-accordion-title {
					display: flex;
					margin: 0;
					padding: $gutter;
					color: $color--black;
					background-color: $color--gray-100;
					cursor: pointer;
					justify-content: space-between;
					align-items: center;

					@extend h4;

					&:after {
						margin-left: $gutter;
						content: "+";
					}
				}

				&[open] .gb-accordion-title:after {
					content: "-";
				}

				.gb-accordion-text {
					padding: 0 $gutter $gutter;
					font-size: $font-size--medium;
				}
			}
		}
	}

	// Group block.
	&-group {

		&,
		&.has-background {

			@include padding($gutter * 2 0);
		}

		&.has-max-width {
			padding: 0;

			@include margin(null auto);
		}
	}

	// Image block.
	&-image {

		@include margin($spacing--xl null);

		&.alignleft {
			margin-right: $spacing--m;
		}

		&.alignright {
			margin-left: $spacing--m;
		}

		&.alignwide {
			max-width: 120%;
		}

		&.alignfull {
			left: auto;
			width: 100%;
			max-width: none;

			@include margin(null 0);

			img {
				margin: 0;
			}
		}
	}

	// Latest posts block.
	&-latest-posts {

		&.is-grid {
		}

		&__post-date {
		}

		&__post-excerpt {
			display: flex;
			flex-wrap: wrap;
		}

		li > a {
			color: $color--heading;
			font-family: $font-family--heading;
			font-weight: $font-weight--semibold;
			line-height: $line-height--heading;
		}
	}

	// Media text block.
	&-media-text {
		margin: $gutter 0;

		&.has-background {
			box-shadow: $base--box-shadow;
		}

		& &__content {
			padding: $gap-large;

			@include mq(m) {
				padding: calc($gap-large + 1rem);
			}

			p {
				color: rgba($color--black, 0.65);
				line-height: 1.87;
				letter-spacing: 0;

				&:last-of-type {
					margin-bottom: 0;
				}
			}
		}
	}

	// More link block.
	&-jf-more-link {

		a {

			@include more-link();

			cursor: pointer;
		}
	}

	// Template part block.
	&-jf-template-part {

		.is-flex-container & {
			height: 100%;
		}

		.mission-trip {

			.card-top {

				a {
					display: block;
					overflow: hidden;
					height: 12.2rem;

					img {
						object-fit: cover;
						object-position: center;
						width: 100%;
						height: 100%;
					}
				}
			}
		}
	}

	&-post-template {

		&.is-flex-container {
			gap: $gutter;

			li {
				width: auto;
				margin: 0;
			}

			> li {
				width: 100%;

				@include margin(null 0 $gutter);
			}
		}
	}

	// Preformatted block.
	&-preformatted {
	}

	// Pullquote block.
	&-pullquote {
		padding: 0;
		border-left: 0;

		p {
			font-size: inherit;
			line-height: $base--line-height;
		}
	}

	// Quote block.
	&-quote {

		&,
		&.is-style-large {
			padding-left: 4rem;
			border: none;
			font-style: normal;
		}

		&.is-style-large {

			p {
				font-size: $base--font-size * $golden;
			}
		}

		cite:before {
			content: "\2014\00a0";
		}
	}

	// Separator block.
	&-separator {
		opacity: 1;

		&:not(.is-style-dots) {
			border-bottom: 1px solid !important;
		}

		@each $color-name, $color-value in $colors {
			&.has-#{ $color-name }-background-color {
				border-color: #{ $color-value };
				background: none;
			}
		}
	}

	// Subhead block.
	&-subhead {
	}

	// Template part block.
	&-swc-template-part {
		height: 100%;
	}

	// Table block.
	&-table {

		thead,
		tfoot {
			border: 0;
		}

		th,
		td {
			border: 0;
			border-bottom: 1px solid #e1e1e1;
		}
	}

	// Verse block.
	&-verse {
		margin: 0 0 0 4rem;
		padding: 0;
		background: transparent;
		font: inherit;
	}
}
