////
/// Entry component.
///
/// @group  Components
/// @author David Jensen <david@dkjensen.com>
/// @link   https://github.com/dkjensen/jesus-film-project
////

.entry {

	.featuredpost &,
	.is-archive & {
		margin-bottom: $gutter;

		&:last-of-type {

			@include mq($until: xs) {
				margin-bottom: 0;
			}
		}
	}

	.search & {
		flex: 1 0 100%;
		padding-bottom: $spacing--m;

		&:not(:last-child) {
			border-bottom: 1px solid $color--gray-400;
		}
	}

	&.search {

		p:last-of-type {
			margin-bottom: 0;
		}
	}

	// Entry header.
	&-header {
		display: flex;
		flex-direction: column;
		align-items: flex-start;

		.is-single.page & {
			margin-top: $spacing--xl;
			text-align: center;
		}
	}

	// Entry title.
	&-title {

		.is-archive & {
			font-size: $font-size--h4;
		}

		.is-single & {
			order: -1;
			margin: $spacing--xxl 0 0.8rem;
		}

		a {
			color: $color--text;

			@include hover-focus {
				color: $color--primary;
			}
		}
	}

	// Entry title link.
	&-title-link {
	}

	// Entry time.
	&-time {
	}

	// Entry author.
	&-author {
	}

	// Entry author box.
	&-author-box {
		display: flex;
		align-items: center;
		gap: 1.6rem;
		flex-wrap: wrap;

		img {
			overflow: hidden;
			width: 46px;
			height: 46px;
			margin: 0;
			border-radius: 50%;
			object-fit: cover;
			object-position: center;
		}

		a {
			text-decoration: none;
		}

		&-avatar {
			flex: 0 0 46px;
		}

		&-bio {
			flex: 1 0 100%;
			font-size: $font-size--medium;

			a {
				text-decoration: underline;
			}
		}
	}

	// Entry author link.
	&-author-link {
	}

	// Entry author name.
	&-author-name {
	}

	// Entry comments link
	&-comments-link {
	}

	// Entry meta.
	&-meta {
		margin: 0 0 7px;
		color: rgba($color--black, 0.4);
		font-size: $font-size--extra-small;
		line-height: 2;
		letter-spacing: 3px;
		text-transform: uppercase;
		order: -1;

		a {
			color: inherit;
			text-decoration: none;

			@include hover-focus {
				color: $color--black;
			}
		}
	}

	// Entry image link.
	&-image-link {
		display: block;
		overflow: hidden;
		position: relative;
		height: 0;
		padding-bottom: 56.285%;

		img {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			object-fit: cover;
			object-position: center;
		}
	}

	// Entry content.
	&-content {

		p,
		pre {

			.single & {
				margin-bottom: 3.6rem;
				color: rgba($color--black, 0.8);
				line-height: 1.67;
				letter-spacing: -0.2px;
			}

			.single &:not([class*="-font-size"]) {
				font-size: $font-size--medium;
			}

			&:last-of-type {

			}
		}

		ul:not([class]) {
			margin-left: 2em;
		}
	}

	// Entry footer.
	&-footer {
		margin-top: auto;
		padding-top: $gap;

		.is-single & {
			padding-bottom: $spacing--xl;
		}

		p {

			&:last-of-type {
				margin-bottom: 0;
			}
		}
	}

	// Singular post header info.
	&-post-header-info {
		display: flex;
		flex-direction: column;
		width: 100%;
		margin: 0 0 $gap-large;
		flex-wrap: wrap;
		gap: $gutter;

		@include mq(m) {
			justify-content: space-between;
			align-items: center;
			flex-direction: row;
		}

		&__meta {
			flex: 1 0 100%;

			@include subheading();

			a {
				color: inherit;
				text-decoration: none;
			}
		}
	}

	// Social share.
	&-social-share {
		display: flex;
		align-items: center;
		gap: 0.8rem;

		a {
			text-decoration: none;
		}
	}

	// Entry categories.
	&-categories {
	}

	// Entry tags.
	&-tags {
	}

	// Entry wrap.
	&-wrap {
		display: flex;
		flex-direction: column;
		padding: $gap-large;
		flex: 1;
	}

	// Pagination.
	& &-pagination {
		padding-top: 0;

		a,
		span {
			width: auto;
			min-width: 0;
			height: auto;
			padding: 0 $spacing--xs;
			background: transparent;
			box-shadow: none;

			@include hover-focus {
				color: $color--primary;
			}
		}
	}
}

// More link.
.more-link {
}
