////
/// Hero section component.
///
/// @group  Components
/// @author David Jensen <david@dkjensen.com>
/// @link   https://github.com/dkjensen/jesus-film-project
////

@mixin hero-section {
	display: flex;
	width: 100%;
	margin: 0 0 $spacing--xxl;
	padding: 12rem 0 $gutter;
	color: $color--white;
	background-position: center;
	background-size: cover;
	text-align: left;
	flex-wrap: wrap;
	align-items: center;

	.wrap {
		position: relative;
		justify-content: center;
	}

	h1 {
		width: 100%;
		margin-bottom: 0;
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		color: $color--white;

		a {
			color: inherit;
		}
	}

	h5 {
		margin-bottom: 0.5em;
	}

	p {
		margin-top: $spacing--m;
		margin-bottom: 0;
	}
}

.hero-section {

	@include hero-section;

	.hero-inner {
		width: 100%;
	}
}
