////
/// Nav Submenu component.
///
/// @group  Components
/// @author David Jensen <david@dkjensen.com>
/// @link   https://github.com/JesusFilm/jesus-film-www
////

.nav-submenu {
	display: flex;
	position: relative;
	height: 6rem;
	background-color: $color--primary;
	align-items: center;
	justify-content: center;

	.menu {
		display: flex;
		z-index: 10;
		width: 100%;
		margin: 0;
		justify-content: space-between;
		align-items: center;

		@include mq(s) {
			justify-content: center;
		}

		&-item {
			display: block;
			margin: 0;
			padding: 0;
			font-size: $base--font-size;
			white-space: nowrap;
			flex: 1;

			@include mq(s) {
				margin: 0 $gutter / 2;
				flex: 0;
			}

			a {
				display: block;
				padding: $spacing--xs;
				color: $color--white;
				line-height: 1.333;
				text-align: center;
				white-space: normal;

				@include mq(s) {
					padding: $spacing--s;
					white-space: nowrap;
				}

				@include hover-focus {
					color: $color--white;
				}
			}

			&.current-menu-item > a,
			&.current-menu-ancestor > a {
				font-weight: $font-weight--bold;
				text-decoration: underline;
			}
		}
	}
}
