////
/// Pagination component.
///
/// @group  Components
/// @author David Jensen <david@dkjensen.com>
/// @link   https://github.com/JesusFilm/jesus-film-www
////

.pagination {
	width: 100%;
	padding: $gutter 0;

	@include mq(m) {
		margin-top: auto;
	}

	.wrap {
		justify-content: center;
	}

	ul {
		display: flex;
		flex-wrap: wrap;
		margin-bottom: 0;
		list-style-type: none;
		align-items: flex-end;
		gap: $spacing--s;
	}

	a,
	span {
		display: inline-flex;
		align-items: center;
		justify-content: center;
		min-width: 4rem;
		height: 4rem;
		padding: 0 $spacing--m;
		background: $color--gray-100;
		box-shadow: $base--box-shadow;
		text-decoration: none;
	}

	li {

	}

	// Active item.
	.active {

		a,
		span {
			color: $color--white;
			background: $color--primary;
		}
	}

	// Previous item.
	&-prev {
	}

	// Next item.
	&-next {
	}
}

// Adjacent posts nav.
.adjacent-entry-pagination {

	.narrow-content & {

		.wrap {

			@include mq(m) {
				width: $layout--width--content-narrow;
			}
		}
	}

	.wrap {
		justify-content: space-between;

		> div {
			max-width: $one-half;
		}
	}
}
