////
/// Singular image component.
///
/// @group  Components
/// @author David Jensen <david@dkjensen.com>
/// @link   https://github.com/dkjensen/jesus-film-project
////

.singular-image {
	display: block;
	width: 100%;
	margin-bottom: 4rem;
}
