////
/// Site inner object.
///
/// @group  Objects
/// @author David Jensen <david@dkjensen.com>
/// @link   https://github.com/dkjensen/jesus-film-project
////

.site-inner {

	@include mq(m) {
		display: flex;
		flex: 1;
		flex-direction: column;
	}

	.no-hero-section.transparent-header &,
	.no-hero-section.sticky-header & {
		margin-top: $spacing--xl * $perfect-fifth;

		@include mq(m) {
			margin-top: $spacing--xxl;
		}
	}

	.blog &,
	.post-type-archive-news & {
		background: $color--tan;

		@include padding(0 0 $gutter * 2);
	}

	.blog & {

		@include padding($gutter * 2 0);
	}

	.error404 &,
	.search & {
		padding-bottom: $spacing--xxl;
		background-color: $color--tan;
	}
}
