////
/// Heading.
///
/// @group  Base
/// @author David Jensen <david@dkjensen.com>
/// @link   https://github.com/dkjensen/jesus-film-project
////


#{$all-headings} {

	@include heading;
}

@each $heading, $font-size in $font-sizes {

	#{$heading} {
		font-size: max(#{ $font-size / $major-second }, #{$font-size--medium});

		@include mq(m) {
			font-size: $font-size;
		}

		a {
			text-decoration: none;
		}
	}
}

h1 {
	font-family: "ApercuBold", sans-serif;
	line-height: 1.11;
	letter-spacing: -0.8px;
}

h3,
h4,
h5,
h6 {
	color: $color--black;
}

h6 {
	font-weight: $font-weight--regular;
	line-height: 2;
}
